<script setup lang="ts">
import { useReceiptStore } from '@/stores/receipt'

const receiptStore = useReceiptStore()
</script>

<template>
    <v-container class="text-body-5">
        <v-row no-gutters>
            <v-col cols="8">ยอดก่อนหัก</v-col><v-col>{{ receiptStore.receipt?.totalBefore }}</v-col>
            <v-col cols="8">ส่วนลดสมาชิก</v-col><v-col>{{ receiptStore.receipt?.memberDiscount }}</v-col>
            <v-col cols="8">ยอดรวม</v-col><v-col>{{ receiptStore.receipt?.total }}</v-col>
        </v-row>
    </v-container>
</template>
  